.form{
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    
}



.cadform{
    margin-top: 1em;
    background-color: rgba(17, 0, 255, 0.164);
    width: 50em;
    border-radius: 0.2em;
    padding: 2em;
    
}

.cadform h2{
    color:rgb(16, 16, 124);
    padding: 1em;
}



.inputform{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
   

    
    
}