.form_control{
    display:flex;
    flex-direction: column;

    
    margin-bottom: 1em;
}

.form_control label{
    margin-bottom: .6em;
    color:antiquewhite ;
    font-weight: bold;
}

.form_control input{
    padding:.7em;
    border-radius:0.5em;
    border: none;
    border-width: 1px;
   
    
    
}

.form_control input::placeholder{
color:rgb(19, 17, 148);
width: 10em;
font-weight: bold;

}

