.btn{
    background-color: rgb(33, 201, 33) ;
    color: #fff;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s ;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    font-weight: bold;
}

.btn:hover{
    color: #fff133;

}